NEXT_PUBLIC_SITE_URL=https://tu-dominio.com

# Base de datos
DATABASE_URL=postgres://user:password@host:port/database

# Autenticación
JWT_SECRET=tu_secreto_seguro_aqui

# Correos (Nodemailer)
SMTP_HOST=smtp.ejemplo.com
SMTP_PORT=587
SMTP_USER=tu_usuario
SMTP_PASS=tu_contraseña
ADMIN_EMAIL=admin@tusitio.com

# Cloudinary (Opcional)
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret